#hethoogstewoordcontainer {
  position: relative;
  width: 800px;
  height: 400px;
}
.letterclass {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
#letter1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#letter2 {
  position: absolute;
  top: 0px;
  left: 50px;
}
#letter3 {
  position: absolute;
  top: 50px;
  left: 0px;
}
#letter4 {
  position: absolute;
  top: 50px;
  left: 50px;
}
#letter5 {
  position: absolute;
  top: 0px;
  left: 125px;
}
#letter6 {
  position: absolute;
  top: 0px;
  left: 175px;
}
#letter7 {
  position: absolute;
  top: 50px;
  left: 125px;
}
#letter8 {
  position: absolute;
  top: 50px;
  left: 175px;
}
#letter9 {
  position: absolute;
  top: 0px;
  left: 250px;
}
#letter10 {
  position: absolute;
  top: 0px;
  left: 300px;
}
#letter11 {
  position: absolute;
  top: 50px;
  left: 250px;
}
#letter12 {
  position: absolute;
  top: 50px;
  left: 300px;
}
#digit1 {
  position: absolute;
  top: 0px;
  left: 375px;
}
#digit2 {
  position: absolute;
  top: 0px;
  left: 425px;
}
#digit3 {
  position: absolute;
  top: 50px;
  left: 375px;
}
#digit4 {
  position: absolute;
  top: 50px;
  left: 425px;
}
#thowdices {
  position: absolute;
  top: 125px;
  left: 125px;
}
#word1 {
  position: absolute;
  top: 200px;
  left: 0px;
}
#word2 {
  position: absolute;
  top: 200px;
  left: 25px;
}
#word3 {
  position: absolute;
  top: 200px;
  left: 50px;
}
#word4 {
  position: absolute;
  top: 200px;
  left: 75px;
}
#word5 {
  position: absolute;
  top: 200px;
  left: 100px;
}
#word6 {
  position: absolute;
  top: 200px;
  left: 125px;
}
#word7 {
  position: absolute;
  top: 200px;
  left: 150px;
}
#word8 {
  position: absolute;
  top: 200px;
  left: 175px;
}
#word9 {
  position: absolute;
  top: 200px;
  left: 200px;
}
#word10 {
  position: absolute;
  top: 200px;
  left: 225px;
}
#word11 {
  position: absolute;
  top: 200px;
  left: 250px;
}
#word12 {
  position: absolute;
  top: 200px;
  left: 275px;
}
.box-shadow {
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);
}
.cube-container {
  -webkit-perspective: 1000;
  position: absolute;
  /* default size. if you change the width make sure to adjust the translateZ values */
  width: 200px;
  height: 200px;
}
.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  width: 100%;
  height: 100%;
}
.cube .face {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: absolute;
  -webkit-box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0 0 5px #74A3D7;
  -moz-box-shadow: 0 0 5px #74A3D7;
}
.cube .face.front {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) translateZ(100px);
}
.cube .face.left {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(-90deg) translateZ(100px);
}
.cube .face.right {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(90deg) translateZ(100px);
}

.cube .face.rear {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateY(180deg) translateZ(100px);
}

.cube .face.bottom {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.cube .face.top {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotateX(90deg) translateZ(100px);
}
.cube .face { display: none; }
.cube.toTop .face.top { display: block; }
.cube.toBottom .face.bottom { display: block; }
.cube.toRear .face.rear { display: block; }
.cube.toRight .face.right { display: block; }
.cube.toLeft .face.left { display: block; }
.cube.toFront .face.front { display: block; }
@media all and (-webkit-transform-3d) {
  .cube .face { display: block; }
  .cube.toTop { -webkit-transform: rotateX(-90deg); }
  .cube.toBottom { -webkit-transform: rotateX(-90deg) rotate(180deg); }
  .cube.toRear { -webkit-transform: rotateY(180deg); }
  .cube.toRight { -webkit-transform: rotateY(-90deg); }
  .cube.toLeft { -webkit-transform: rotateY(90deg); }
  .cube.toFront { -webkit-transform: rotateY(0); }
}
