#hethoogstewoordcontainer {
  position: relative;
  width: 800px;
  height: 400px;
}
.letterclass {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.box-shadow {
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);
}
